<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>

<Configuration strict="true" status="INFO" verbose="false" name="${project.artifactId}LoggingConfiguration"
               monitorInterval="120">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} %X{correlationId} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
